/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --font-family: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --heading-weight: 700;
  --text-weight: 400;
  --text-color: var(--black);
  --background-color: var(--white);
  --button-color: var(--white);
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0px 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --sparks: #ff0000;
}

:root.theme-dark {
  --font-family: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --heading-weight: 785;
  --text-weight: 465;
  --text-color: var(--green);
  --background-color: var(--black);
  --button-color: var(--green);
  --background-image: repeating-linear-gradient(
      to right,
      #000 0px 2px,
      #00000000 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0px 2px, #00000000 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
    --sparks: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-family: "Inter-Variable", sans-serif;
    --accent-font: "PressStart2P", fantasy;
    --heading-weight: 785;
    --text-weight: 465;
    --text-color: var(--green);
    --background-color: var(--black);
    --button-color: var(--green);
    --background-image: repeating-linear-gradient(
      to right,
      #000 0px 2px,
      #00000000 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0px 2px, #00000000 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
    --sparks: #ff0000;
  }
}
